# C

## CSR Matrix

### Extract values from csr matrix

In [ ]:
# extract values from csr_matrix
from scipy.sparse import csr_matrix, find
matrix_x = find(X)
matrix_list = list(matrix_x)

# P

## Pandas

###  Resources

https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

### Merging

#### Across Multiple Columns

In [ ]:
# we want to merge on columns A_c1 AND c2, aka left_on, right_on
# ignore all other parameters in this instance
new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

#### Array to Dataframe

In [ ]:
# where array is an array of numbers
two_dim_df = pd.DataFrame(array, index= range(len(array)))

### Drop

##### By Columns

In [ ]:
# drop columns B and C
df.drop(['B', 'C'], axis=1)
# drop columns B and C
df.drop(columns=['B', 'C'])

##### By Rows

In [ ]:
# drop rows in index position 0 and 1
df.drop([0, 1])

### Index (setting) on new Dataframe

In [ ]:
# see example in Array to Dataframe

### Null Values

In [ ]:
# convert null values
df.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)

### Pivot

In [ ]:
offers_table = pd.pivot_table(df_transactions_offers, values = "n" , index = "customer_name", columns = "offer_id" )

### Rename Column By

##### Position

In [ ]:
# rename the column in dataframe position 2 to "c"
df.columns.values[2] = 'c'

##### Name

In [ ]:
df.rename(index=str, columns={"A": "a", "B": "c"})

# R

## Regular Expression

### Decimal Number

In [2]:
# below will match either a decimal or non-decimal number
(\d*\.?\d+)
# ( begin capture group
# \d* any digit zero or more times
# \.? a period zero or one times (i.e. it is optional)
# \d+ any digit one ore more times
# ) end capture group

SyntaxError: unexpected character after line continuation character (<ipython-input-2-810585a40b0f>, line 2)